* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --color-text: #f2ede4;
  --color-bg: #0d0d0d;
  --delay:30ms;
  --cursor-radius:30px
}

body {
  font-family: 'Sono', sans-serif;
  color: var(--color-text);
  background: var(--color-bg);
  user-select: none;
  cursor: none;
  overflow-y: hidden;
}

span {
  display: inline-block
}

.cursor {
  position: fixed;
  z-index: 99;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);
  will-change: transform, clip-path;
  background: none;
  pointer-events: none;
  mix-blend-mode: difference;
  border: 2px solid var(--color-text);
  transition: clip-path 300ms ease-out;
}

.cursor:nth-of-type(2) {
  clip-path: circle(5% at 50% 50%);
  background-color: var(--color-text);
}

.cursor.hover{
  clip-path:circle(20% at 50% 50%)
}

.cursor:nth-of-type(2).hover{
  clip-path: circle(50% at 50% 50%)
}

.pre__load {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--color-bg);
  z-index: 98;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 500ms ease-out opacity;
}

.pre__load.fade__out {
  opacity: 0;
  translate: transformY(-100%)
}

.pre__load__grid__text {
  height: 300px;
  width: 300px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: 1px solid var(--color-text);
  clip-path: inset(0 0 0 0);
}

.pre__load__wrap__letter {
  animation: 2s 1 cubic-bezier(0.83, 0, 0.17, 1);
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}

.pre__load__letter {
  font-size: 3rem;
  transition: transform 300ms cubic-bezier(0.83, 0, 0.17, 1);
}

.pre__load__letter.fade__out {
  transform: translateY(150%) scaleY(2);
}

.pre__load__wrap__letter:nth-of-type(1) {
  animation-name: translate-1;
  animation-delay: var(--delay)
}

.pre__load__wrap__letter:nth-of-type(2) {
  animation-name: translate-2;
  animation-delay: calc(var(--delay)*2)
}

.pre__load__wrap__letter:nth-of-type(3) {
  animation-name: translate-3;
  animation-delay: calc(var(--delay)*3)
}

.pre__load__wrap__letter:nth-of-type(4) {
  animation-name: translate-4;
  animation-delay: calc(var(--delay)*4)
}

@keyframes translate-1 {
  25% {transform: translate(150px, 0)}
  50% {transform: translate(150px, 150px)}
  75% {transform: translate(0px, 150px)}
}

@keyframes translate-2 {
  25% {transform: translate(0, 150px)}
  50% {transform: translate(-150px, 150px)}
  75% {transform: translate(-150px, 0)}
}

@keyframes translate-3 {
  25% {transform: translate(0, -150px)}
  50% {transform: translate(150px, -150px)}
  75% {transform: translate(150px, 0)}
}

@keyframes translate-4 {
  25% {transform: translate(-150px, 0)}
  50% {transform: translate(-150px, -150px)}
  75% {transform: translate(0px, -150px)}
}

.logo__wrap{
  position:fixed;
  top:1rem;
  left: 1rem;
  height:100px;
  width: 100px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: solid 1px var(--color-text);
}

.logo {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: -8px;
}

.logo:hover{
  transform: scaleX(1.8);
}

nav {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  width: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: space-between;
}

.nav__wrap {
  height: 40px;
  width: 100%;
  font-weight: 400;
  opacity: 0.8;
  overflow: hidden;
  transition: opacity 300ms ease-in;
}

.nav__wrap.active {
  opacity: 1;
}

.nav__wrap__text {
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  overflow: hidden;
}

.nav__wrap__text>.nav__text>span {
  will-change: transform;
  transform-style: preserve-3d;
  transform-origin: bottom;
  transition: transform 400ms cubic-bezier(0.37, 0, 0.63, 1);
}

.nav__wrap__text>.nav__text:first-child>span {
  transform-origin: bottom;
}

.nav__wrap__text>.nav__text:last-child>span {
  transform-origin: top;
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}

.nav__wrap__text:hover>.nav__text:first-child>span {
  transform: translate3d(0, -100%, 0) rotateX(90deg);
}

.nav__wrap__text:hover>.nav__text:last-child>span {
  transform: translate3d(0, -100%, 0) rotateX(0deg);
}

.nav__underline {
  display: block;
  height: 2px;
  width: 100%;
  background: var(--color-text);
  clip-path: inset(0 100% 0 0);
  transition: clip-path 300ms ease-out;
}

.nav__underline.active {
  clip-path: inset(0 0 0 0);
}

.scroll__progress {
  position: fixed;
  z-index: 2;
  top: 1rem;
  right:130px;
  height: 300px;
  width: 2px;
  background: #585859;
}

.scroll__progress__inner {
  background: var(--color-text);
  width: 100%;
  height: 0%;
  will-change: height;
  transition: height 300ms ease-out;
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__wrap{
  height: 300px;
  width: 300px;
  border: solid 1px var(--color-text);
}

.project {
  width: 100%;
  height: 200vh;
  display: grid;
  grid-template-columns: 20% 70%;
  grid-template-rows: repeat(4, 200px);
  grid-row-gap: 1rem;
  padding: 5rem;
  /* background: red; */
}

.project__wrap__section__title{
  width: fit-content;
  height: fit-content;
  transform: rotate(-90deg) translate(-40%, -100%);
  grid-area: 1/1/3/1;
}

.project__section__title{
  font-size: 5rem;
  text-transform: uppercase;  
}

.project__wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  filter: grayscale(100%);
  transition: clip-path 600ms ease-out;
}

.project__title{
  font-size: 3rem;
  letter-spacing: 5px;
}

.project__line{
  height:2px;
  width:100%;
  background: var(--color-text);
}

.project__img {
  width: 80%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
  transform: scaleX(3);
  transition: transform 900ms ease-in-out;
}

.project__img.active {
  transform: scaleX(1);
  transition: transform 900ms ease-out;
}

.project__wrap__img:nth-of-type(1) {
  clip-path: inset(0 100% 0 0);
  padding: 2rem;
}

.project__wrap__img:nth-of-type(1).active {
  clip-path: inset(0 0 0 0);
}

/* .project__wrap__img:nth-of-type(1) {
  clip-path: inset(0 0 0 100%);
}

.project__wrap__img:nth-of-type(1).active {
  clip-path: inset(0 0 0 0);
} */
