* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --color-text: #f2ede4;
  --color-bg: #0d0d0d;
}

body {
  font-family: 'Sono', sans-serif;
  color: var(--color-text);
  background: var(--color-bg);
  user-select: none;
  cursor: none;
}

span {
  display: inline-block
}

.cursor {
  position: fixed;
  z-index: 99;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  will-change: transform;
  background-color: var(--color-text);
  pointer-events: none;
  mix-blend-mode: difference;
}

.cursor:nth-of-type(2) {
  width: 40px;
  height: 40px;
  /* background-size: 0%; */
  transition: background 300ms ease;
  border: 1px solid var(--color-text);
}

nav {
  position: fixed;
  left: 10%;
  z-index: 2;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: -8px;
}

.nav__menu {
  height: 30px;
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.nav__wrap__text {
  height: 30px;
  font-weight: 400;
  opacity: 0.8;
  transition: opacity 300ms ease-in;
}

.nav__wrap__text.active {
  opacity: 1;
}

.nav__wrap__text {
  height: fit-content;
  width: fit-content;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  overflow: hidden;
  height: 20px;
}

.nav__wrap__text>.nav__text>span {
  will-change: transform;
  transform-style: preserve-3d;
  transform-origin: bottom;
  transition: transform 300ms cubic-bezier(0.37, 0, 0.63, 1);
}

.nav__wrap__text>.nav__text:first-child>span {
  transform-origin: bottom;
}

.nav__wrap__text>.nav__text:last-child>span {
  transform-origin: top;
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}

.nav__wrap__text:hover>.nav__text:first-child>span {
  transform: translate3d(0, -100%, 0) rotateX(90deg);
}

.nav__wrap__text:hover>.nav__text:last-child>span {
  transform: translate3d(0, -100%, 0) rotateX(0deg);
}

.nav__underline {
  display: block;
  height: 1px;
  width: 100%;
  background: var(--color-text);
  clip-path: inset(0 100% 0 0);
  transition: clip-path 300ms ease-out;
}

.nav__underline.active {
  clip-path: inset(0 0 0 0);
}

.scroll__progress {
  position: fixed;
  z-index: 2;
  top: 8%;
  left: 10%;
  height: 2px;
  width: 80%;
  background: #585859;
}

.scroll__progress__inner {
  background: var(--color-text);
  width: 0%;
  height: 100%;
  will-change: width;
  transition: width 300ms ease-out;
}

.pre__load {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--color-bg);
  z-index: 98;
  width: 100%;
  height: 100vh;
  opacity: 1;
  transition: 500ms ease-out opacity;
}

.pre__load.fade__out {
  opacity: 0;
  translate: transformY(-100%)
}

.pre__load__wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: none;
}

.pre__load__text {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3rem;
  transform: translate(-50%, -50%);
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome {
  font-size: 7rem;
  font-weight: 100;
  text-transform: uppercase;
  color: var(--color-pink);
}

.welcome__wrap__txt {
  overflow: hidden;
}

.welcome__wrap__txt>h3 {
  transform: translate(0, -100%);
  transition: 400ms ease-out transform;
  will-change: transform;
}

.project {
  width: 100%;
  height: 200vh;
  display: grid;
  grid-template-columns: repeat(4, 400px);
  grid-template-rows: repeat(4, 400px);
  grid-gap: 1rem;
  padding: 3rem;
  /* background: red; */
}

.project__wrap__img {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  justify-self: end;
  filter: grayscale(100%);
  transition: clip-path 600ms ease-out;
}

.project__img {
  width: 80%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
  transform: scaleX(3);
  transition: transform 900ms ease-in-out;
}

.project__img.active {
  transform: scaleX(1);
  transition: transform 900ms ease-out;
}

.project__wrap__img:nth-of-type(1) {
  grid-area: 1/2/2/4;
  clip-path: inset(0 100% 0 0);
  padding: 2rem;
}

.project__wrap__img:nth-of-type(1).active {
  clip-path: inset(0 0 0 0);
}

/* .project__wrap__img:nth-of-type(1) {
  clip-path: inset(0 0 0 100%);
}

.project__wrap__img:nth-of-type(1).active {
  clip-path: inset(0 0 0 0);
} */
